# Auto detect text files and perform LF normalization
* text=auto
Functions/eeglab14_1_2b/plugins/bigdelys-measure-projection-16dfcad30443/+pr/private/eyeScalpmapDataset.mat filter=lfs diff=lfs merge=lfs -text
